
# Guide 

If you require further assistance contact the support team @ [Discord](https://discord.gg/P528fGg)

## Requirements
1) 
2) 
3) 
4) 
***

## Contents
* **Section A**: 
* **Section B**: 
* **Section C**: 
* **Section D**: 
***

### Section A: 

***Step 1***
* 
***

### Section B: 

***Step 1***
* 
***

***Step 2***
* 
***

***Step 3***
* 
***

***Step 4*** 
* 
***

### Section C: 

***Step 1***
* 
***

***Step 2***
* 
***

### Section D: 

***Step 1***
*  
***

***Step 2***
*
***

If you do, congratulations! You have now setup a Veles d-VPN . If you do not, please contact support on [Discord](https://discord.gg/P528fGg) and they will assist you.    
***
